/*-------------------------------------------------------------------------------

Copyright2022 @ perfectlyhung.uk 
Site Design By Will Blackburn. coda4.com

-------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------
    Global
-------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* scroll-behavior: smooth;
  scroll-snap-type: y proximity; */
}

:root {
  --textlight: #f2efe4;
  --darktheme: #1f1d18;
  --brandcolor1: #D64121;
  --brandcolor2: #1A5E67;
  --brandcolor3: #F5C654;
}

/*-------------------------------------------------------------------------------
    Light / Dark Mode
-------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------
    Main
-------------------------------------------------------------------------------*/

body {
  background-color: var(--darktheme);
}

.section,
section {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  /* overflow-y: auto; */
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.divider {
  padding-top: 5rem;
}

h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

h3 {
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  color: #5a5a5a;
  padding-top: 0.5rem;
  font-size: 2.7rem;
  text-transform: uppercase;
}

img {
  z-index: 1;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(212, 166, 40);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #2e2e2e;
}

/*-------------------------------------------------------------------------------
    Navbar
-------------------------------------------------------------------------------*/

/* Logo */

.logo {
  display: block;
  position: absolute;
  top: 15px;
  left: 18px;
  margin-top: 0.2rem;
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  z-index: 999;
}

.header {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  position: fixed;
  height: 90px !important;
  overflow: hidden;
  z-index: 10;
}

.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
}
.mainInner {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}
.mainInner div {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}
#sidebarMenu {
  height: 100%;
  position: fixed;
  right: 0;
  width: 300px;
  margin-top: 0px;
  transform: translateX(300px);
  transition: transform 200ms ease-in-out;
  background: linear-gradient(180deg, #1f1d18 0%, #1f1d18 100%);
  z-index: 998;
}
.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebarMenuInner li {
  list-style: none;
  color: rgb(44, 44, 44);
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(59, 59, 59, 0.1);
}
.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.sidebarMenuInner li a {
  font-family: 'Poppins', sans-serif;
  color: #f2efe4;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
}
input[type='checkbox']:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type='checkbox'] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 35px;
  right: 30px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #f2efe4;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type='checkbox']:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type='checkbox']:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type='checkbox']:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

.nav-contactinfo {
  font-size: 1.1rem;
  font-weight: 400;
  padding-top: 2rem;
  padding-left: 1.3rem;
}

.nav-contactinfo a {
  color: #f2efe4;
}

.nav-contactinfo li {
  padding-top: 0.7rem;
}

/*-------------------------------------------------------------------------------
    Social Icons
-------------------------------------------------------------------------------*/

.footer-social-icons {
  width: 350px;
  display: block;
  margin: 0 auto;
}

ul.social-icons {
  margin-top: 25px;
  padding-left: 20px;
}
.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}

.social-icons svg {
  filter: invert(100%);
  width: 35px;
  height: 35px;
}

.social-icons svg:hover {
  transition: 0.5s;
}

.svg-facebook:hover {
  fill: #3d5b99;
}
.svg-twitter:hover {
  fill: #80d7ff;
}
.svg-youtube:hover {
  fill: #ff0606;
}

/*-------------------------------------------------------------------------------
    Section Backgrounds
-------------------------------------------------------------------------------*/

.home {
  background-image: url('../img/bg1.webp');
  background-position: 52% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  max-height: 100vh;
  opacity: 1;
}

@media all and (max-width: 800px) {
  .home {
    background-image: url('../img/bg1.webp?width=800');
    background-size: 180%;
    background-position: 50% 50%;
  }
}

@media all and (max-width: 400px) {
  .home {
    background-image: url('../img/bg1.webp?width=400');
  }
}

.about {
  /* background: url('../img/bg2-3.webp'); */
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.services {
  /* background: url('../img/bg3.webp'); */
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.process {
  opacity: 1;
  /* box-shadow: inset 0px 0px 0px 80px rgb(255, 255, 255); */
}

.residential {
  /* background: url('../img/bg4.webp'); */
  background-position: 70% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.commercial {
  /* background: url('../img/bg5.webp'); */
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.gallery {
  background-position: 60% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.contact {
  background: url('../img/bg7.webp');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

@media all and (max-width: 800px) {
  .contact {
    background-size: 150%;
    background-position: 53% 50%;
  }
}

/*-------------------------------------------------------------------------------
    Titles & Content
-------------------------------------------------------------------------------*/
.fullscreen-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: absolute;
  flex-shrink: 2;
  height: 100vh;
  width: 80vw;
  padding-bottom: 7vmin;
  z-index: 990;
}

.main-title {
  display: flex;
  color: var(--textlight);
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  max-width: 420px;
}

.main-title-light {
  color: var(--textlight);
  position: absolute;
  bottom: 10rem;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  max-width: 420px;
  font-size: 7rem;
  line-height: 5rem;
}

.secondary-title {
  color: var(--textlight);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  position: absolute;
  margin-left: 6px;
}

.secondary-title-light {
  color: var(--textlight);
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  bottom: 8rem;
  margin-left: 6px;
}

.paragraph-title {
  display: flex;
  align-content: center;
}

.paragraph-title h3 {
  height: 3rem;
  color: var(--textlight);
  text-decoration: underline double;
  background-color: #2e2e2e;
  padding: 8px;
}

.paragraph-header {
  color: var(--textlight);
  max-width: 70%;
  font-family: 'Poppins', sans-serif;
  padding-top: 3rem;
}

.paragraph {
  color: var(--textlight);
  font-family: 'Poppins', sans-serif;
  position: relative;
  padding-top: 40px;
}

.paragraph p {
  font-weight: 300;
  opacity: 0.7;
}

.video-title {
  color: var(--textlight);
  position: relative;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  max-width: 420px;
  line-height: 5rem;
}

.video-secondary-title {
  color: var(--textlight);
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  position: relative;
  bottom: 8rem;
  margin-left: 3px;
}

.location-title {
  display: flex;
  color: var(--textlight);
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 420px;
}

.location-b-title {
  color: var(--textlight);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  position: absolute;
  margin-left: 6px;
}

.phone-title {
  color: var(--textlight);
  font-size: 1.8rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  bottom: 5.5rem;
  margin-left: 6px;
}

.email-title {
  color: var(--textlight);
  font-size: 1.8rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  bottom: 3rem;
  margin-left: 6px;
}

/* Small Mobile */

@media (min-width: 320px) {
  .main-container {
    margin-left: 3rem;
    padding-top: 35vmin;
  }

  .main-title {
    font-size: 2.7rem;
    font-weight: 600;
    max-width: 20px;
    bottom: 5rem;
    line-height: 3rem;
  }

  .main-title-light {
    font-size: 1.8rem;
    max-width: 20px;
    bottom: 2rem;
  }

  .secondary-title {
    font-size: 0.8rem;
    line-height: 1.5rem;
    max-width: 90vw;
    bottom: 3.5rem;
  }

  .secondary-title-light {
    font-size: 0.6rem;
    line-height: 1.5rem;
    bottom: 2.2rem;
    margin-left: 6px;
  }

  .paragraph-title h3 {
    font-size: 0.9rem;
  }

  .paragraph-header {
    font-size: 1.3rem;
    line-height: 2rem;
    max-width: 80vw;
    padding-top: 1.6rem;
  }

  .paragraph {
    font-size: 1rem;
    line-height: 1.3rem;
    padding-top: 30px;
  }

  .video-title {
    margin-left: 2.5rem;
    bottom: 10.5rem;
    font-size: 3.5rem;
  }

  .video-secondary-title {
    font-size: 1.2rem;
    margin-left: 3rem;
    bottom: 10rem;
  }

  .location-title {
    font-size: 2.5rem;
    font-weight: 600;
    max-width: 20px;
    bottom: 6rem;
    line-height: 3rem;
  }

  .location-b-title {
    font-size: 0.8rem;
    line-height: 1.5rem;
    max-width: 90vw;
    bottom: 5rem;
  }

  .phone-title {
    font-size: 1.2rem;
    bottom: 3.5rem;
    margin-left: 6px;
  }

  .email-title {
    font-size: 1.4rem;
    bottom: 2rem;
    margin-left: 6px;
  }
}

@media (max-width: 480px) {
  .quote-section {
    display: none;
  }
}

/* mobile */

@media (min-width: 480px) {
  .main-container {
    margin-left: 4.2rem;
    padding-top: 25vmin;
  }

  .main-title {
    font-size: 2.8rem;
    max-width: 20px;
    bottom: 5rem;
    line-height: 3rem;
  }

  .main-title-light {
    bottom: 2rem;
    font-size: 2.8rem;
    line-height: 5rem;
  }

  .secondary-title {
    font-size: 0.8rem;
    line-height: 1.5rem;
    max-width: 90vw;
    bottom: 3.5rem;
  }

  .secondary-title-light {
    font-size: 0.8rem;
    bottom: 2rem;
    line-height: 1.5rem;
  }

  .paragraph-title h3 {
    font-size: 1rem;
  }

  .paragraph-header {
    font-size: 1.5rem;
    line-height: 2rem;
    max-width: 78vw;
    padding-top: 2rem;
  }

  .paragraph {
    font-size: 1rem;
    line-height: 1.3rem;
    padding-top: 30px;
  }

  .video-title {
    margin-left: 4rem;
    bottom: 10.5rem;
    font-size: 3rem;
  }

  .video-secondary-title {
    font-size: 1.2rem;
    margin-left: 4rem;
    bottom: 10rem;
  }

  .location-title {
    font-size: 2.5rem;
    font-weight: 600;
    max-width: 20px;
    bottom: 8rem;
    line-height: 3rem;
  }

  .location-b-title {
    font-size: 0.8rem;
    line-height: 1.5rem;
    max-width: 90vw;
    bottom: 7rem;
  }

  .phone-title {
    font-size: 1.3rem;
    bottom: 4.3rem;
    margin-left: 6px;
  }

  .email-title {
    font-size: 1.3rem;
    bottom: 2.5rem;
    margin-left: 6px;
  }
}

/* tablet */

@media (min-width: 768px) {
  .main-container {
    margin-left: 4.2rem;
    padding-top: 15vmin;
  }

  .main-title {
    font-size: 3.2rem;
    bottom: 5rem;
    line-height: 3rem;
  }

  .main-title-light {
    font-size: 3.5rem;
  }

  .secondary-title {
    font-size: 0.9rem;
    line-height: 1.5rem;
    max-width: 90vw;
  }

  .main-title-light {
    bottom: 3rem;
    font-size: 3rem;
    line-height: 5rem;
  }

  .secondary-title-light {
    font-size: 1rem;
    bottom: 2.5rem;
    line-height: 1.5rem;
  }

  .video-title {
    margin-left: 4.5rem;
    bottom: 7rem;
    font-size: 3.5rem;
  }

  .video-secondary-title {
    font-size: 1.2rem;
    margin-left: 5rem;
    bottom: 6.5rem;
  }

  .paragraph-title h3 {
    font-size: 1rem;
  }

  .paragraph-header {
    font-size: 2.2rem;
    line-height: 2.5rem;
    max-width: 75vw;
    padding-top: 2.6rem;
  }

  .paragraph {
    font-size: 1.1rem;
    line-height: 1.3rem;
    padding-top: 30px;
  }

  .location-title {
    font-size: 3.7rem;
    font-weight: 600;
    max-width: 20px;
    bottom: 9rem;
    line-height: 3rem;
  }

  .location-b-title {
    font-size: 1.4rem;
    line-height: 1.5rem;
    max-width: 90vw;
    bottom: 7.5rem;
  }

  .phone-title {
    font-size: 1.5rem;
    bottom: 5rem;
    margin-left: 6px;
  }

  .email-title {
    font-size: 1.5rem;
    bottom: 3rem;
    margin-left: 6px;
  }
}

/* Small Desktop */

@media (min-width: 992px) {
  .main-container {
    margin-left: 4.5rem;
    padding-top: 10vmin;
  }

  .main-title {
    bottom: 7rem;
    font-size: 4.4rem;
    line-height: 4.1rem;
  }

  .secondary-title {
    bottom: 6.2rem;
  }

  .main-title-light {
    bottom: 3rem;
    font-size: 3rem;
    line-height: 5rem;
  }

  .secondary-title-light {
    font-size: 1rem;
    bottom: 2.5rem;
    line-height: 1.5rem;
  }

  .paragraph-title h3 {
    font-size: 1rem;
  }

  .paragraph-header {
    font-size: 1.8rem;
    line-height: 2.5rem;
    max-width: 55vw;
    padding-top: 1.6rem;
  }

  .paragraph {
    font-size: 1.1rem;
    line-height: 1.6rem;
    position: relative;
    padding-top: 25px;
  }

  .video-title {
    margin-left: 11rem;
    bottom: 15rem;
    font-size: 3.5rem;
  }

  .video-secondary-title {
    font-size: 1.2rem;
    margin-left: 11.5rem;
    bottom: 14rem;
  }

  .location-title {
    font-size: 3.7rem;
    font-weight: 600;
    max-width: 20px;
    bottom: 9rem;
    line-height: 3rem;
  }

  .location-b-title {
    font-size: 1.2rem;
    line-height: 1.5rem;
    max-width: 90vw;
    bottom: 7rem;
  }

  .phone-title {
    font-size: 1.5rem;
    bottom: 4.5rem;
    margin-left: 6px;
  }

  .email-title {
    font-size: 1.5rem;
    bottom: 2.5rem;
    margin-left: 6px;
  }
}

/* Large Laptop */

@media (min-width: 1200px) {
  .main-container {
    margin-left: 4.5rem;
    padding-top: 16vmin;
    max-width: 100vw;
  }

  .main-title {
    bottom: 5rem;
    font-size: 3.3rem;
    line-height: 3.2rem;
  }

  .secondary-title {
    font-size: 1.1rem;
    bottom: 3.5rem;
  }

  .main-title-light {
    bottom: 3rem;
    font-size: 3.5rem;
    line-height: 5rem;
  }

  .secondary-title-light {
    font-size: 0.9rem;
    bottom: 2.5rem;
    line-height: 1.5rem;
  }

  .paragraph-title h3 {
    font-size: 1.1rem;
  }

  .paragraph {
    font-size: 1.1rem;
    line-height: 1.5rem;
    position: relative;
    padding-top: 1.3rem;
  }

  .paragraph-header {
    font-size: 2.5rem;
    line-height: 2.5rem;
    max-width: 60vw;
    padding-top: 1.9rem;
  }

  .video-title {
    margin-left: 11rem;
    bottom: 11.5rem;
    font-size: 3.5rem;
  }

  .video-secondary-title {
    font-size: 1.2rem;
    margin-left: 11.5rem;
    bottom: 10.5rem;
  }

  .location-title {
    font-size: 3.7rem;
    font-weight: 600;
    max-width: 20px;
    bottom: 7.5rem;
    line-height: 3rem;
  }

  .location-b-title {
    font-size: 1.2rem;
    line-height: 1.5rem;
    max-width: 90vw;
    bottom: 6rem;
  }

  .phone-title {
    font-size: 1.5rem;
    bottom: 3.5rem;
    margin-left: 6px;
  }

  .email-title {
    font-size: 1.5rem;
    bottom: 1.5rem;
    margin-left: 6px;
  }
}

/* Large TV */

@media (min-width: 1400px) {
  .main-container {
    margin-left: 8rem;
    padding-top: 16vmin;
    max-width: 100vw;
  }

  .main-title {
    bottom: 8rem;
    font-size: 4.9rem;
    line-height: 4.2rem;
  }

  .secondary-title {
    bottom: 6.4rem;
  }

  .main-title-light {
    bottom: 3rem;
    font-size: 4rem;
    line-height: 5rem;
  }

  .secondary-title-light {
    font-size: 1.2rem;
    bottom: 2.5rem;
    line-height: 1.5rem;
  }

  .paragraph-title h3 {
    font-size: 1.2rem;
  }

  .paragraph {
    font-size: 1.1rem;
    line-height: 1.5rem;
    position: relative;
    padding-top: 2rem;
  }

  .paragraph-header {
    font-size: 3rem;
    line-height: 3rem;
    max-width: 60vw;
    padding-top: 2rem;
  }

  .video-title {
    margin-left: 9rem;
    bottom: 9rem;
    font-size: 3.5rem;
  }

  .video-secondary-title {
    font-size: 1.2rem;
    margin-left: 9.5rem;
    bottom: 10.5rem;
  }

  .location-title {
    font-size: 3.7rem;
    font-weight: 600;
    max-width: 20px;
    bottom: 8.5rem;
    line-height: 3rem;
  }

  .location-b-title {
    font-size: 1.1rem;
    line-height: 1.5rem;
    max-width: 90vw;
    bottom: 7rem;
  }

  .phone-title {
    font-size: 1.4rem;
    bottom: 4.6rem;
    margin-left: 6px;
  }

  .email-title {
    font-size: 1.4rem;
    bottom: 3rem;
    margin-left: 6px;
  }
}

/*-------------------------------------------------------------------------------
    ABOUT
-------------------------------------------------------------------------------*/

.about-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Poppins', sans-serif;
}

.item {
  width: 50%;
  min-height: 500px;
  padding: 4.2em;
}

.item-right {
  width: 50%;
  /* margin-left: 2rem;
  margin-right: 2rem; */
  min-height: 500px;
}

@media screen and (max-width: 800px) {
  .about-container {
    flex-direction: column;
  }

  .item {
    width: 100vw;
    min-height: 30vh;
    margin-left: 0rem;
  }

  .item-right {
    width: 100vw;
    min-height: 30vh;
  }
}

/* Small Mobile */

@media (min-width: 320px) {
  .item {
    padding-top: 6rem;
  }
}

/* mobile */

@media (min-width: 480px) {
  .item {
    padding-top: 6rem;
  }
}

/* tablet */

@media (min-width: 768px) {
  .item {
    padding-top: 6rem;
  }
}

/* Small Desktop */

@media (min-width: 992px) {
  .item {
    padding-top: 8rem;
  }
}

/* Large Laptop */

@media (min-width: 1200px) {
  .item {
    padding-top: 9rem;
  }
}

/* Large TV */

@media (min-width: 1400px) {
  .item {
    margin-left: 4rem;
    padding-top: 12rem;
  }
}

/*-------------------------------------------------------------------------------
    Quotes
-------------------------------------------------------------------------------*/

.collectionEl {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
}

.innerEl {
  color: var(--textlight);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.8);
  border-radius: 0.3rem;
  margin-right: 1rem;
  text-align: center;
}

.inner-a {
  /* box-shadow: 0 0 2px rgba(247, 24, 24, 0.8); */
  border-radius: 0.3rem;
  background-color: var(--brandcolor1);
}

.inner-b {
  /* box-shadow: 0 0 2px rgba(247, 24, 24, 0.8); */
  border-radius: 0.3rem;
  background-color: var(--brandcolor2);
}

.inner-c {
  /* box-shadow: 0 0 2px rgba(247, 24, 24, 0.8); */
  border-radius: 0.3rem;
  background-color: var(--brandcolor3);
}

.collectionEl .outerEl {
  width: 30vw;
}

.collectionEl .outerEl {
  display: flex;
  justify-content: center;
}

.collectionEl .innerEl {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collectionEl .innerEl p + p {
  margin-top: 0;
}

/*-------------------------------------------------------------------------------
    Clients
-------------------------------------------------------------------------------*/

.carousel-client {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  flex-direction: row;
  padding: 4em 0em;
}

/*-------------------------------------------------------------------------------
    Services
-------------------------------------------------------------------------------*/

.section-lead {
  max-width: 600px;
  margin: 1rem auto 1.5rem;
}

.service a {
  color: #5b7abb;
  display: block;
}

.service h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 3rem;
  text-transform: uppercase;
  color: #56ceba;
}

.services-grid {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

.service {
  opacity: 0.97;
  margin: 10px;
  padding: 30px;
  border-radius: 4px;
  font-size: 1.1rem;
  line-height: 1.2;
  text-align: center;
  -webkit-box-flex: 1;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid rgb(124, 123, 123);
  border-style: double;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service p {
  color: var(--textlight);
  opacity: 0.7;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 180px;
}

.icon-container img {
  width: auto;
  height: 160px;
}

.service1 i,
.service1 h4,
.service1 .cta {
  color: var(--textlight);
}

.service2 i,
.service2 h4,
.service2 .cta {
  color: var(--textlight);
}

.service3 i,
.service3 h4,
.service3 .cta {
  color: var(--textlight);
}

.service .cta span {
  font-size: 0.6rem;
}

.service > * {
  flex: 1 1 100%;
}

.service .cta {
  align-self: flex-end;
}

/* Remove ICON IMAGE */

@media all and (max-width: 1000px) {
  .services-grid {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  /* Remove Border on Smaller Devices */
  @media all and (max-width: 600px) {
    .service {
      border: none;
    }
  }

  .service {
    padding: 40px;
    margin: 5px;
  }

  .icon-container {
    display: none;
  }

  .icon-container img {
    display: none;
  }
  .service i {
    margin: 0rem 0;
  }
  .services h4 {
    font-size: 1.3rem;
  }
}

/* small mobile */

@media (min-width: 320px) {
  .services-grid {
    height: 10%;
    width: auto;
    padding-top: 3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }

  .service {
    font-size: 1rem;
    line-height: 1;
    margin: 0rem 0 0 0;
  }

  .service h4 {
    font-size: 1.4rem;
    margin: 0 0 0 0;
  }
}

/* mobile */

@media (min-width: 568px) {
  .services-grid {
    height: 50%;
    width: auto;
    padding-top: 5.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .service {
    font-size: 1.2rem;
    line-height: 1;
    padding: 30px;
    margin: 0.7rem;
  }

  .service h4 {
    font-size: 2rem;
    padding: 20px;
  }
}

@media (max-width: 568px) {
  .icon-container {
    display: none;
  }
}

/* tablet */

@media (min-width: 768px) {
  .services-grid {
    height: 60%;
    width: auto;
    padding-top: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .service {
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 50px;
    margin: 30px;
  }

  .service h4 {
    font-size: 1.7rem;
    padding: 20px;
  }
}

/* small desktop */

@media (min-width: 992px) {
  .services-grid {
    height: 100vh;
    width: 100vw;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .service {
    font-size: 1.1rem;
    line-height: 1.1;
    padding: 20px;
    margin: 15px;
  }

  .service h4 {
    font-size: 1.5rem;
    padding: 20px;
  }
}

/* large desktop */

@media (min-width: 1400px) {
  .services-grid {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .service {
    margin: 8px;
    padding: 60px;
    font-size: 1.2rem;
    line-height: 1.2;
  }

  .service h4 {
    font-size: 2rem;
    line-height: 3rem;
    margin: 1rem 0 0.6rem;
  }
}

/*-------------------------------------------------------------------------------
    RESIDENTIAL COMMERCIAL
-------------------------------------------------------------------------------*/

.flex-wrapper {
  display: flex;
  height: 80vh;
  gap: 1%;
  margin: 1.5rem;
  /* border: double 10px #f2efe4; */
}

.flex-wrapper a {
  position: relative;
  flex: 1;
  text-align: left;
  text-decoration: none;
  color: var(--textlight);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: flex 0.4s;
}

.flex-wrapper .one {
  background-image: url('../img/bg-residential.webp');
}

.flex-wrapper .two {
  background-image: url('../img/bg-commercial.webp');
}

.flex-wrapper a:hover {
  flex: 2;
}

.flex-wrapper .overlay {
  padding: 0 10px;
  position: absolute;
  bottom: 0;
  transition: background-color 0.4s;
}

.flex-wrapper a:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.flex-wrapper .overlay-inner * {
  visibility: hidden;
  opacity: 0;
  transform-style: preserve-3d;
}

.flex-wrapper .overlay h2 {
  font-size: 2rem;
  transform: translate3d(0, -60px, 0);
}

.flex-wrapper .overlay p {
  transform: translate3d(0, 60px, 0);
}

.flex-wrapper a:hover .overlay-inner * {
  opacity: 1;
  visibility: visible;
  transform: none;
  transition: all 0.3s 0.3s;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 1rem;
    line-height: 1.25;
  }

  .flex-wrapper {
    flex-direction: column;
  }

  .flex-wrapper a:hover {
    flex: 1;
  }

  .flex-wrapper a:hover .overlay {
    background-color: transparent;
  }

  .flex-wrapper .overlay h2,
  .flex-wrapper .overlay p {
    opacity: 1;
    visibility: visible;
    transform: none;
  }
}

/*-------------------------------------------------------------------------------
    Process BG Video
-------------------------------------------------------------------------------*/

.process {
  background-size: cover;
}

.vimeo-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}
.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*-------------------------------------------------------------------------------
    Gallery
-------------------------------------------------------------------------------*/

label[for] {
  cursor: pointer;
}
input[type='checkbox'] {
  display: none;
}

.lightbox {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.grid {
  width: 100%;
  position: relative;
}

.lightbox {
  z-index: 1;
  min-height: 100%;
  overflow: auto;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
.lightbox img {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 96%;
  max-height: 96%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

input[type='checkbox']:checked + .lightbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}

input[type='checkbox']:checked ~ .grid {
  opacity: 0.125;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  padding: 80px 25px 0px 25px;
  overflow: auto;
  z-index: 0;
  text-align: center;
  -webkit-transition: opacity 0.75s;
  transition: opacity 0.75s;
}
.grid .grid-item {
  display: block;
  width: 20%;
  padding: 5px;
  opacity: 0.95;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.grid .grid-item:hover {
  opacity: 1;
}

@media screen and (max-width: 880px) {
  .grid .grid-item {
    width: 33.3333%;
  }
}
/* @media screen and (max-width: 960px)  { .grid .grid-item { width: 100%; } } */
@media screen and (max-width: 480px) {
  .grid .grid-item {
    width: 50%;
  }
}

.grid img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

/*-------------------------------------------------------------------------------
    FOOTER
-------------------------------------------------------------------------------*/

.footer {
  /* background: #1f1d18; */
  padding: 30px 0px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 0% 0%;
  padding: 0.6% 0%;
  color: var(--textlight);
  font-size: 0.8em;
}

.footer .row svg {
  filter: invert(100%);
}

.footer .row a {
  text-decoration: none;
  color: var(--textlight);
  transition: 0.5s;
}

.footer .row a:hover {
  color: var(--textlight);
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}

/*-------------------------------------------------------------------------------
    Responsive Guides
-------------------------------------------------------------------------------*/

/* Small Mobile */

@media (min-width: 320px) {
}

/* mobile */

@media (min-width: 480px) {
}

/* tablet */

@media (min-width: 768px) {
}

/* Small Desktop */

@media (min-width: 992px) {
}

/* Large Laptop */

@media (min-width: 1200px) {
}

/* Large TV */

@media (min-width: 1400px) {
}
