/*-------------------------------------------------------------------------------

Copyright2022 @ PerfectlyHung.uk 
Site Design By Will Blackburn. Coda4.com

-------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------
    Global
-------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Antic+Didone&family=Arimo&family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Antic+Didone&family=Arimo&display=swap');

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

/* ---------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  scroll-snap-points-y: repeat(100vh);
  
}

body {
  
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}



.section{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  scroll-snap-align: start;
 
}

h1 {
  font-family: 'Amiri', sans-serif;
  text-align: center;
}

h3 {
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  color: #5a5a5a;
  padding-top: 0.5rem;
  font-size: 0.7rem;
  text-transform: uppercase;
}

img {
  z-index: 1;
}

a {
  text-decoration: none;
  color:rgb(44, 44, 44)
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #2e2e2e;
}

/*-------------------------------------------------------------------------------
    Navbar
-------------------------------------------------------------------------------*/



/* Logo */

.logo {
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  margin-top: 0.2rem;
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  z-index: 999;
}

.header {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  position: fixed;
  height: 90px!important;
  overflow: hidden;
  z-index: 10;
}
.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
}
.mainInner{
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}
.mainInner div{
  display:table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}
#sidebarMenu {
  height: 100%;
  position: fixed;
  right: 0;
  width: 300px;
  margin-top: 0px;
  transform: translateX(300px);
  transition: transform 200ms ease-in-out;
  background: linear-gradient(180deg, #f8f8f8 0%, #f8f8f8 100%);
  z-index: 998;
}
.sidebarMenuInner{
  margin:0;
  padding:0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
  list-style: none;
  color: rgb(44, 44, 44);
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
  font-family: 'Amiri', sans-serif;
  color: rgb(56, 56, 56);
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 35px;
  right: 30px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: rgb(49, 49, 49);
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

/*-------------------------------------------------------------------------------
    Social Icons
-------------------------------------------------------------------------------*/

._12 {
  font-size: 1em;
}
._14 {
  font-size: 1em;
}
ul {
  padding:0;
  list-style: none;
}
.footer-social-icons {
  width: 350px;
  display:block;
  margin: 0 auto;
}
.social-icon {
  color: #fff;
}
ul.social-icons {
  margin-top: 25px;
  padding-left: 20px;
}
.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}
.fa-facebook {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #434343;
}
.fa-facebook:hover {
  background-color: #3d5b99;
}
.fa-twitter {
  padding:10px 12px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #434343;
}
.fa-twitter:hover {
  background-color: #00aced;
}

.fa-youtube {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #434343;
}
.fa-youtube:hover {
  background-color: #e64a41;
}

/*-------------------------------------------------------------------------------
    Section Backgrounds
-------------------------------------------------------------------------------*/


.home {
  background: url('../img/bg1-4.webp');
  background-position: 70% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.about {
  background: url('../img/bg2-3.webp');
  background-position: 5% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.services {
  background: url('../img/bg1-3.webp');
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.residential {
  background: url('../img/bg4-2.webp');
  background-position: 70% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.commercial {
  background: url('../img/bg5-2.webp');
  background-position: 60% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.gallery {
  background: url('../img/bg6.webp');
  background-position: 60% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.contact {
  background: url('../img/bg7-2.webp');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

/*-------------------------------------------------------------------------------
    Titles & Content
-------------------------------------------------------------------------------*/


.main-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  flex-shrink: 2;
  position: relative;
  height: 100vh;
  width: 1500px;
  padding-bottom: 7vmin;
}

.main-title {
  display: flex;
  color: #2e2e2e;
  position: absolute;
  font-family: 'Amiri', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 420px;
}

.main-title-light {
  color: #e9e9e9;
  position: absolute;
  bottom: 10rem;
  font-family: 'Amiri', sans-serif;
  text-transform: uppercase;
  max-width: 420px;
  font-size: 7rem;
  line-height: 5rem;
}

.secondary-title {
  color: #e9e9e9;
  font-weight: 600;
  font-family: 'Amiri', sans-serif;
  text-transform: uppercase;
  position: absolute;
  margin-left: 6px;
}

.secondary-title-light {
  color: #e9e9e9;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Amiri', sans-serif;
  position: absolute;
  bottom: 8rem;
  margin-left: 6px;
}

.paragraph-title{
  display: flex;
  align-content: center;
}

.paragraph-title h3 {
  max-width: 9%;
  height: 3rem;
  color: aliceblue;
  background-color: #2e2e2e;
  padding: 8px;
}

.paragraph-header {
  color: aliceblue;
  font-size: 3.2rem;
  font-weight: 400;
  max-width: 70%;
  font-family: 'Amiri', sans-serif;
  padding-top: 3rem;
}

.paragraph {
  color: aliceblue;
  font-family: 'Amiri', sans-serif;
  font-size: 1.1rem;
  line-height: 2rem;
  position: relative;
  padding-top: 40px;
  max-width: 65%;
}

.about-container{
  height: 100%;
  width: 100%;
}

.quotes {
  color: aliceblue;
  font-family: 'Amiri', sans-serif;
  font-size: 1.5rem;
  padding-top: 5rem;
}

.quotes-author {
  color: aliceblue;
  font-weight: 600;
  padding-top: 2rem;
  margin-left: 0.7rem;
}

.video-title {
  color: #e9e9e9;
  position: absolute;
  font-family: 'Amiri', sans-serif;
  text-transform: uppercase;
  max-width: 420px;
  line-height: 5rem;
}

.video-secondary-title {
  color: #e9e9e9;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Amiri', sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 8rem;
  margin-left: 3px;
}

.phone-title {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: 'Amiri', sans-serif;
  position: absolute;
  bottom: 5.5rem;
  margin-left: 6px;
}

.email-title {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: 'Amiri', sans-serif;
  position: absolute;
  bottom: 3rem;
  margin-left: 6px;
}



/* Small Mobile */

@media (min-width: 320px) {

  .main-container {
    margin-left: 3rem;
    padding-top: 35vmin;
  }

  .main-title {
    font-size: 2.8rem;
    max-width: 20px;
    bottom: 10rem;
    line-height: 3rem;
  }

  .main-title-light {
    font-size: 2.6rem;
    max-width: 20px;
    bottom: 6rem;
  }

  .secondary-title {
    font-size: .9rem;
    line-height: 1.5rem;
    max-width: 90vw;
    bottom: 8.5rem;
  }

  .secondary-title-light {
    font-size: .8rem;
    line-height: 1.5rem;
    bottom: 5.5rem;
    margin-left: 6px;
  }


  .paragraph-header {
    font-size: 1.3rem;
    line-height: 2rem;
    max-width: 80vw;
    padding-top: 1.6rem;
  }

  .paragraph {
    font-size: 1rem;
    line-height: 1.3rem;
    padding-top: 30px;
    max-width: 80vw;
  }

  .video-title {
    margin-left: 2.5rem;
    bottom: 10.5rem;
    font-size: 3.5rem;
  }

  .video-secondary-title {
    font-size: 1.2rem;
    margin-left: 3rem;
    bottom: 10rem;
  }

  .quotes {
    font-size: 1rem;
    line-height: 1.6rem;
    padding-top: 1rem;
    max-width: 60vw;
  }

  .phone-title {
    font-size: 1.5rem;
    bottom: 6.5rem;
    margin-left: 6px;
  }

  .email-title {
 
    font-size: 1.5rem;
    bottom: 4.5rem;
    margin-left: 6px;
  }
}

@media (max-width: 480px){

  .quotes {
    display: none;
  }
  
  .quotes-author {
    display: none;
  }
  
}


/* mobile */

@media (min-width: 480px) {
  .main-container {
    margin-left: 4.2rem;
    padding-top: 25vmin;
  }

  .main-title {
    font-size: 2.8rem;
    max-width: 20px;
    bottom: 10rem;
    line-height: 3rem;
  }

  .main-title-light {
    font-size: 2.8rem;
    max-width: 20px;
  }

  .secondary-title {
    font-size: .9rem;
    line-height: 1.5rem;
    max-width: 90vw;
    bottom: 8.5rem;
  }

  .secondary-title-light {
    font-size: .8rem;
    line-height: 1.5rem;
    bottom: 6rem;
    margin-left: 6px;
  }

  .paragraph-header {
    font-size: 1.5rem;
    line-height: 2rem;
    max-width: 78vw;
    padding-top: 2rem;
  }

  .paragraph {
    font-size: 1rem;
    line-height: 1.3rem;
    padding-top: 30px;
    max-width: 78vw;
  }

  .video-title {
    margin-left: 4rem;
    bottom: 10.5rem;
    font-size: 3rem;
  }

  .video-secondary-title {
    font-size: 1.2rem;
    margin-left: 4rem;
    bottom: 10rem;
  }

  .quotes {
    font-size: 1.1rem;
    line-height: 1.6rem;
    padding-top: 5rem;
    max-width: 70vw;
  }

  .quotes-author {
    padding-top: 1rem;
    margin-left: 0rem;
  }

  .phone-title {
    font-size: 1.5rem;
    bottom: 6.5rem;
    margin-left: 6px;
  }

  .email-title {
 
    font-size: 1.5rem;
    bottom: 4.5rem;
    margin-left: 6px;
  }
}

/* tablet */

@media (min-width: 768px) {
  .main-container {
    margin-left: 4.2rem;
    padding-top: 15vmin;
  }

  .main-title {
    font-size: 4.5rem;
    bottom: 10rem;
    line-height: 4rem;
  }

  .main-title-light {
    font-size: 3.5rem;
  }

  .secondary-title {
    font-size: 1.2rem;
    line-height: 1.5rem;
    max-width: 90vw;
  }

  .secondary-title-light {
    font-size: 1.1rem;
    bottom: 5.7rem;
    line-height: 1.5rem;
    max-width: 90vw;
  }

  .video-title {
    margin-left: 4.5rem;
    bottom: 7rem;
    font-size: 3.5rem;
  }

  .video-secondary-title {
    font-size: 1.2rem;
    margin-left: 5rem;
    bottom: 6.5rem;
  }

  .paragraph-title h3 {
    max-width: 9%;
  }

  .paragraph-header {
    font-size: 2.2rem;
    line-height: 2.5rem;
    max-width: 75vw;
    padding-top: 2.6rem;
  }

  .paragraph {
    font-size: 1.2rem;
    line-height: 1.3rem;
    padding-top: 30px;
    max-width: 78vw;
  }

  .quotes {
    font-size: 1.3rem;
    padding-top: 5rem;
    max-width: 70vw;
  }

  .phone-title {
    font-size: 1.5rem;
    bottom: 6.5rem;
    margin-left: 6px;
  }

  .email-title {
 
    font-size: 1.5rem;
    bottom: 5rem;
    margin-left: 6px;
  }

}

/* Small Desktop */

@media (min-width: 992px) {
  .main-container {
    margin-left: 4.5rem;
    padding-top: 10vmin;
    
  }

  .main-title {
    bottom: 7rem;
    font-size: 4.4rem;
    line-height: 4.1rem;
  }

  .secondary-title {
    bottom: 6.2rem;
  }

  .secondary-title-light {
    font-size: 1.2rem;
    bottom: 5.7rem;
    line-height: 1.5rem;
    max-width: 90vw;
  }

  .paragraph-title h3 {
    max-width: 9%;
  }

  .paragraph-header {
    font-size: 1.8rem;
    line-height: 2.5rem;
    max-width: 55vw;
    padding-top: 1.6rem;
  }

  .paragraph {
    font-size: 1.1rem;
    line-height: 1.6rem;
    position: relative;
    padding-top: 25px;
    max-width: 52%;
  }

  .video-title {
    margin-left: 11rem;
    bottom: 15rem;
    font-size: 3.5rem;
  }

  .video-secondary-title {
    font-size: 1.2rem;
    margin-left: 11.5rem;
    bottom: 14rem;
  }

  .quotes {
    font-size: 1.2rem;
    padding-top: 3rem;
  }
  
  .quotes-author {
    padding-top: 1.5rem;
    margin-left: 0.2rem;
  }

  .phone-title {
    font-size: 1.5rem;
    bottom: 4.3rem;
    margin-left: 6px;
  }

  .email-title {
 
    font-size: 1.5rem;
    bottom: 2.8rem;
    margin-left: 6px;
  }
}

/* Large Laptop */

@media (min-width: 1200px) {
  .main-container {
    margin-left: 6rem;
    padding-top: 14vmin;
    max-width: 100vw;
  }

  .main-title {
    bottom: 5rem;
    font-size: 5rem;
    line-height: 4rem;
  }

  .secondary-title {
    bottom: 3.5rem;
  }

  .secondary-title-light {
    font-size: 1.2rem;
    bottom: 5.7rem;
    line-height: 1.5rem;
    max-width: 90vw;
  }

  .paragraph-title h3 {
    max-width: 11%;
  }

  .paragraph {
    font-size: 1.1rem;
    line-height: 1.5rem;
    position: relative;
    padding-top: 30px;
    max-width: 60%;
  }

  .paragraph-header {
    font-size: 3rem;
    line-height: 3.5rem;
    max-width: 60vw;
    padding-top: 1.6rem;
  }


  .video-title {
    margin-left: 11rem;
    bottom: 11.5rem;
    font-size: 3.5rem;
  }

  .video-secondary-title {
    font-size: 1.2rem;
    margin-left: 11.5rem;
    bottom: 10.5rem;
  }

  .phone-title {
    font-size: 1.5rem;
    bottom: 0rem;
    margin-left: 6px;
  }

  .email-title {
 
    font-size: 1.5rem;
    bottom: 1.5rem;
    margin-left: 6px;
  }

}

  /* Large TV */

@media (min-width: 1400px) {
  .main-container {
    margin-left: 8rem;
    padding-top: 16vmin;
    max-width: 100vw;
  }

  .main-title {
    bottom: 10rem;
    font-size: 6rem;
    line-height: 5rem;
  }

  .secondary-title {
    bottom: 8.5rem;
  }

  .secondary-title-light {
    font-size: 1.2rem;
    bottom: 5.7rem;
    line-height: 1.5rem;
    max-width: 90vw;
  }

  .paragraph-title h3 {
    max-width: 11%;
  }

  .paragraph {
    font-size: 1.1rem;
    line-height: 2rem;
    position: relative;
    padding-top: 50px;
    max-width: 65%;
  }

  .paragraph-header {
    font-size: 3.5rem;
    line-height: 3.5rem;
    max-width: 60vw;
    padding-top: 4rem;
  }


  .video-title {
    margin-left: 11rem;
    bottom: 11.5rem;
    font-size: 3.5rem;
  }

  .video-secondary-title {
    font-size: 1.2rem;
    margin-left: 11.5rem;
    bottom: 10.5rem;
  }

  .phone-title {
    font-size: 1.5rem;
    bottom: 6rem;
    margin-left: 6px;
  }

  .email-title {
 
    font-size: 1.5rem;
    bottom: 4rem;
    margin-left: 6px;
  }

}


/*-------------------------------------------------------------------------------
    Services
-------------------------------------------------------------------------------*/

.section-lead {
  max-width: 600px;
  margin: 1rem auto 1.5rem;
}

.service a {
  color: #5b7abb;
  display: block;
}

.service h4 {
  font-family: 'Amiri', sans-serif;
  font-weight: 600;
  line-height: 3rem;
  text-transform: uppercase;
  color: #56ceba;
}

.services-grid {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

.service {
  background-color: #e5e7e9;
  opacity: .97;
  margin: 10px;
  padding: 30px;
  border-radius: 4px;
  font-size: 1.1rem;
  line-height: 1.2;
  text-align: center;
  -webkit-box-flex: 1;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  border:3px solid rgb(51, 50, 50);
  border-radius: 0rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 180px;
}

.icon-container img {
  width: auto;
  height: 160px;
}

.service:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}


.service1 i,
.service1 h4,
.service1 .cta {
  color: #252525;
}

.service1:hover {
  border: 5px solid #383838;
}

.service2 i,
.service2 h4,
.service2 .cta {
  color: #252525;
}

.service2:hover {
  border: 5px solid #383838;
}

.service3 i,
.service3 h4,
.service3 .cta {
  color: #252525;
}

.service3:hover {
  border: 5px solid #383838;
}

.service .cta span {
  font-size: 0.6rem;
}

.service > * {
  flex: 1 1 100%;
}

.service .cta {
  align-self: flex-end;
}

/* Remove ICON IMAGE FIGURE OUT */

@media all and (max-width: 1000px) {
  .services-grid {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .service {
    padding: 40px;
    margin: 5px;
  }

  .icon-container {
  display: none;
}

  .icon-container img {
   display: none;
  }
  .service i {
    margin: 0rem 0;
  }
  .services h4 {
    font-size: 1.3rem;
  }
}



/* small mobile */

@media (min-width: 320px) {

  .services-grid {
    padding-top: 5rem;
    padding-left: .7rem;
    padding-right: .7rem;
  }

  .service{
    font-size: 1rem;
    line-height: 1;
    margin: 1rem 0 0 0;
    
   
  }

  .service h4 {
    font-size: 1.4rem;
    margin: 0 0 0 0;
  }
  
}

/* mobile */

@media (min-width: 568px) {

   .services-grid {
    padding-top: 5.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .service {
    font-size: 1.2rem;
    line-height: 1;
    padding: 30px;
    margin: .7rem;
    
  }

  .service h4 {
    font-size: 2rem;
    padding: 20px;
  }

}

@media (max-width: 568px){
  .icon-container {
    display: none;
  }
}


/* tablet */

@media (min-width: 768px){
  .services-grid {
    padding-top: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .service {
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 50px;
    margin: 30px;  
  }

  .service h4 {
    font-size: 1.7rem;
    padding: 20px;
  }
}

/* small desktop */

@media (min-width: 992px){
  .services-grid {
    height: 100vh;
    width: 100vw;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .service {
    font-size: 1.1rem;
    line-height: 1.1;
    padding: 20px;
    margin: 15px;  
  }

  .service h4 {
    font-size: 1.5rem;
    padding: 20px;
  }
}

/* large desktop */

@media (min-width: 1300px){

  .services-grid {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .service {
    margin: 5px;
    padding: 40px;
    font-size: 1.2rem;
    line-height: 1.2;
  }

  .service h4 {
    font-size: 2rem;
    line-height: 3rem;
    margin: 1rem 0 0.6rem;
  }

}

/*-------------------------------------------------------------------------------
    Process BG Video
-------------------------------------------------------------------------------*/

.video-container {
  /* Create grid spanning viewport width & height */
  display: grid;
  grid-template-rows: 100vh;
  overflow: hidden;
  box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.5);
}

.video-bg {
  /* Span the full grid */
  grid-area: var(--fullGrid);

  /* Re-size video to cover full screen while maintaining aspect ratio */
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;

  /* Display video below overlay */
  z-index: -1;
}

.video-bg::-webkit-media-controls {
  display: none !important;
}

.video-overlay {
  /* Span the full grid */
  grid-area: var(--fullGrid);

  /* Center Content */
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;

  /* Semi-transparent background */
  background-color: rgba(0, 0, 0, 0.55);
}

::-moz-selection {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
}

::selection {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
}

/*-------------------------------------------------------------------------------
    Gallery
-------------------------------------------------------------------------------*/


label[for] { cursor: pointer; }
input[type="checkbox"] { display: none; }

.lightbox { width: 100%; position: fixed; top: 0; left: 0; }

.grid {width: 100%; position: relative;}

.lightbox {
  z-index: 1;
  min-height: 100%;
  overflow: auto;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}
.lightbox img {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 96%;
  max-height: 96%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

input[type="checkbox"]:checked + .lightbox {
  -webkit-transform: scale(1);
          transform: scale(1);
}

input[type="checkbox"]:checked ~ .grid { opacity: .125; }

.grid { 
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  padding: 74px;
  overflow: auto;
  z-index: 0;
  text-align: center;
  -webkit-transition: opacity .75s;
  transition: opacity .75s;
}
.grid .grid-item {
  display: block;
  width: 20%;
  padding: 5px;
  opacity: .85;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.grid .grid-item:hover { opacity: 1; }

@media screen and (max-width: 1280px) { .grid .grid-item { width: 33.3333%; } }
/* @media screen and (max-width: 960px)  { .grid .grid-item { width: 50%; } } */
@media screen and (max-width: 480px)  { .grid .grid-item { width: 100%; } }

.grid img { max-width: 100%; max-height: 100%; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); }

/*-------------------------------------------------------------------------------
    Animations
-------------------------------------------------------------------------------*/

.animate__animated.animate__backInLeft{
  --animate-duration: .9s;

}

/*-------------------------------------------------------------------------------
    Responsive Guides
-------------------------------------------------------------------------------*/


/* Small Mobile */

@media (min-width: 320px) {


}


/* mobile */

@media (min-width: 480px) {

}

/* tablet */

@media (min-width: 768px) {


}

/* Small Desktop */

@media (min-width: 992px) {


}

/* Large Laptop */

@media (min-width: 1200px) {


}

  /* Large TV */

@media (min-width: 1400px) {


}